* {
  transform: all .2s;
}

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.wrap {
  width: 100%;
  height: 515px;
  background: linear-gradient(90deg, #ff3b50, #4d267e);
  position: absolute;
  top: 0;
  padding: 0;
  display: flex;
}

.logo {
  width: 120px;
  height: 32px;
  background-image: url(../img/logo.png);
  position: absolute;
  top: 92px;
  left: 511px;
}

.wrap h1 {
  color: #fff;
  letter-spacing: 8px;
  text-align: center;
  font-size: 44px;
  font-weight: 320;
  line-height: 43px;
  margin-top: 166px;
}

.wrap p {
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-weight: 200;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 980px) {
  .logo {
    left: 280px;
  }
}

@media screen and (max-width: 665px) {
  .logo {
    left: 265px;
  }
}

@media screen and (max-width: 540px) {
  .logo {
    left: 169px;
  }
}

.info p {
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 16px;
}

.ooba-p {
  margin-top: 554px;
}

.line {
  width: 872px;
  margin-left: 156px;
  height: 11px;
  background-color: #d4cecf;
  opacity: 0.23;
}

@media screen and (max-width: 980px) {
  .container {
    width: 785px;
  }

  .line {
    width: 590px;
    margin-left: 80px;
  }
}

@media screen and (max-width: 790px) {
  .container {
    width: 496px;
  }

  .line {
    width: 404px;
    margin-left: 90px;
  }
}

@media screen and (max-width: 547px) {
  .container {
    width: 457px;
  }

  .line {
    width: 354px;
    margin-left: 54px;
  }
}

.view h1 {
  text-align: center;
  padding: 0px 15px 0px 0px;
  font-size: 42px;
  letter-spacing: -0.5px;
  font-weight: 400;
  line-height: 50px;
}

.icon-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1110px;
  margin: 0 auto;
}

.icons-img {
  padding: 20px;
  overflow: hidden;
}

.icons-img img {
  height: 75px;
  width: 75px;
  padding-left: 43px;
}

.icons-img p {
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 18px;
  margin-bottom: 62px;
}

.about h1 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 2.1px;
  margin-bottom: 33px;
}

.block-background {
  width: 1480px;
  background-image: url(../img/mid.png);
  background-size: cover;
  height: 730px;
  margin-bottom: 42px;
  margin-left: -250px;
}

.circle {
  padding-left: 587px;
  padding-top: 54px;
  line-height: 2;
  display: flex;
}

.circle-info p {
  margin-left: 86px;
  margin-top: -44px;
  color: #fff;
}

@media screen and (max-width: 980px) {
  .block-background {
    width: 1122px;
    height: 545px;
    margin-bottom: 42px;
  }

  .circle {
    padding-left: 427px;
  }

  .circle-info p {
    margin-left: 71px;
    margin-top: -45px;
  }

  .circle-info img {
    width: 32px;
  }
}

@media screen and (max-width: 790px) {
  .block-background {
    width: 1015px;
    height: 435px;
  }

  .circle {
    padding-left: 314px;
  }

  .circle-info p {
    margin-left: 60px;
    margin-top: -49px;
  }
}


@media screen and (max-width: 547px) {
  .block-background {
    width: 748px;
    height: 380px;
  }

  .circle {
    padding-left: 255px;
  }

  .circle-info p {
    margin-left: 49px;
    margin-top: -50px;
  }
}

.carousel {
  text-align: center;
  font-size: 23px;
  letter-spacing: 1.6px;
  font-weight: 400;
  margin-bottom: 53px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.jobs {
  height: 225px;
  background-color: #14064e;
  margin-top: 12px;
}

.jobs h2 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 17px;
}

.jobs p {
  color: #fff;
  margin: 0 auto;
  display: table;
}

.team {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 4px;
  margin-bottom: 42px;
  padding-top: 29px;
}

.block1 {
  display: flex;
  margin-left: 258px;
  text-align: center;
  font-size: 14px;
}

.block2 {
  display: flex;
  margin-left: 258px;
  text-align: center;
  font-size: 14px;
}

.block1 h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.block1 p {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 300;
  line-height: 18px;
}

.block2 h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.block2 p {
  margin-top: 0;
  font-weight: 300;
  line-height: 18px;
}

.team-hr {
  margin-right: 32px;
  padding-right: 12px;
}

.team-cont {
  margin-right: 32px;
  padding-right: 12px;
}

.team-manager {
  margin-right: 32px;
  padding-right: 12px;
}

.team-service {
  margin-right: 32px;
  padding-right: 12px;
}

@media screen and (max-width: 980px) {
  .block1 {
    margin-left: 127px;
  }

  .block2 {
    margin-left: 127px;
  }
}

  @media screen and (max-width: 790px) {
    .block1 {
      margin-left: -67px;     
    }

    .block2 {
      margin-left: -67px; 
    }
  }

  @media screen and (max-width: 547px) {
    .block1 {
      margin-left: 0;
      display: unset;
    }

    .block2 {
      margin-left: 0;
      display: unset;
    }

  }


  .footer {
    margin-top: 42px;
  }

  .footer p {
    text-align: center;
    font-weight: 300;
  }

  .footer-img {
    width: 120px;
    height: 33px;
    background-image: url(../img/ooba.png);
    margin: 0 auto;
  }

  .footer a {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

  .footer a:hover {
    color: rgb(179, 10, 10);
  }

  .footer img {
    margin: 0 auto;
    display: grid;
    padding-top: 32px;
  }