body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.wrap {
  width: 100%;
  height: 515px;
  background: linear-gradient(90deg, #ff3b50, #5d2383);
  position: absolute;
  top: 0;
  padding: 0;
  display: flex;
}

.wrap .circle1 {
  transform: translate(860px);
  margin-top: 8px;
  position: relative;

  -webkit-animation-name: move;
  -webkit-animation-duration: 14s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  animation-name: move;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes move {
  0% {
    left: 0px;
    top: 0px;
  }

  50% {
    left: 200px;
  }

  75% {
    left: 0px;
    top: 200px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes move {
  0% {
    left: 0px;
    top: 0px;
  }

  50% {
    left: 200px;
  }

  75% {
    left: 0px;
    top: 200px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

.wrap .circle2 {
  transform: translate(82px);
  position: relative;
  margin-top: 78px;

  -webkit-animation-name: mymove;
  -webkit-animation-duration: 14s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  animation-name: mymove;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes mymove {
  0% {
    left: 0px;
    top: 0px;
  }

  50% {
    left: 100px;
  }

  75% {
    left: 0px;
    top: 100px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes mymove {
  0% {
    left: 0px;
    top: 0px;
  }

  50% {
    left: 100px;
  }

  75% {
    left: 0px;
    top: 100px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

.wrap h1 {
  color: #fff;
  letter-spacing: 8px;
  font-size: 35px;
  font-weight: 320;
  line-height: 35px;
  text-align: left;
}

.wrap p {
  color: #fff;
  text-align: left;
  line-height: 22px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.block {
  padding-top: 85px;
  text-align: center;
  width: 375px;
  margin: 0 auto;
}

.wrap .crests1 {
  transform: translateX(-200px);
  margin-top: 162px;
  position: relative;

  -webkit-animation-name: crests;
  -webkit-animation-duration: 14s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  animation-name: crests;
  animation-duration: 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes crests {
  0% {
    left: 16px;
    top: 0px;
  }

  50% {
    left: 200px;
  }

  75% {
    left: 0px;
    top: 200px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes crests {
  0% {
    left: 16px;
    top: 0px;
  }

  50% {
    left: 200px;
  }

  75% {
    left: 0px;
    top: 200px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

.info p {
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 16px;
  padding: 9px 20px 4px 20px;
  font-weight: 300;
}

.ooba-p {
  margin-top: 554px;
}

.line {
  width: 90%;
  margin-left: 25px;
  height: 11px;
  background-color: #ffffff;
  background: radial-gradient(#ccc5c5 20%, #f6f6f7);
  margin-top: 47px;
  border-radius: 35%;
  opacity: 0.3;
}

.about {
  margin-top: 70px;
}

.view h1 {
  text-align: center;
  padding: 0px 15px 0px 0px;
  font-size: 42px;
  letter-spacing: -0.5px;
  font-weight: 300;
  line-height: 50px;
}

.icon-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 20px;
}

.icons-img {
  padding: 20px;
  overflow: hidden;
}

.icons-img img {
  height: 75px;
  width: 75px;
  padding-left: 43px;
  font-weight: 300;
  opacity: 0.5;
}

.icons-img p {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 18px;
  font-weight: 300;
}

.about h1 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 2.1px;
  margin-bottom: 33px;
}

.block-background { 
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(212, 7, 45, 0.877), rgba(6, 44, 228, 0.877)), url(../img/ooba.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.circle {
  margin-left: 28%;
  padding-top: 26px;
}

.circle li {
  display: block;
}

.circle p {
  margin: -30px 0 -1px 0;
  margin-left: 0;
  text-align: left;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-left: 60px;
}

.circle-info .img {
  margin: 27px 0 0px 0;
  width: 25px;
}

.carousel {
  text-align: center;
  font-size: 21px;
  letter-spacing: 1.6px;
  font-weight: 300;
  margin-bottom: 47px;
  padding-top: 37px;
}

.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dots {
  margin-top: -46px;
  padding-bottom: 0px;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  /* background-color: #ccc5c5; */
  transition: background-color 6s ease;
}

.jobs h2 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 68px;
}

.jobs {
  background-color: #14064e;
  background-size: 100% 100%;
  height: 357px;
}

.job-item {
  width: 413px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.jobs p {
  margin: -38px 0px 12px 51px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.jobs img {
  margin-top: 33px;
}

.jobs ul {
  text-align: left;
}

.jobs li {
  display: inline;
}

.team {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 58px;
  padding-top: 29px;
}

.block1 {
  display: flex;
  margin-left: 258px;
  text-align: center;
  font-size: 14px;
}

.block2 {
  display: flex;
  margin-left: 258px;
  text-align: center;
  font-size: 14px;
}

.block1 h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

.block1 p {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 300;
  line-height: 18px;
}

.block2 h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

.block2 p {
  margin-top: 0;
  font-weight: 300;
  line-height: 18px;
}

.team-hr {
  margin-right: 32px;
  padding-right: 12px;
}

.team-cont {
  margin-right: 32px;
  padding-right: 12px;
}

.team-manager {
  margin-right: 32px;
  padding-right: 12px;
}

.team-service {
  margin-right: 32px;
  padding-right: 12px;
}

.wrap-footer {
  padding-top: 73px;
  position: relative;
  background-image: url(../img/layfooter.png);
}

.footer p {
  text-align: center;
  font-weight: 300;
}

.footer-img {
  width: 120px;
  height: 33px;
  background-image: url(../img/ooba.png);
  margin: 0 auto;
}

.footer a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.footer img {
  margin: 0 auto;
  display: grid;
  padding-top: 32px;
}

@media screen and (max-width: 1140px) {
  .container {
    width: 1000px;
  }

  .wrap .circle1 {
    transform: translate(725px);
  }

  .wrap .circle2 {
    transform: translate(87px);
  }

  .wrap .crests1 {
    transform: translate(-782px);
  }   
  
  .about {
    width: 100%;
  }  
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }

  .wrap .circle1 {
    transform: translate(605px);
  }

  .wrap .circle2 {
    transform: translate(-15px);
  }

  .wrap .crests1 {
    transform: translate(-600px);
  }

  .block1 {
    margin-left: 127px;
  }

  .block2 {
    margin-left: 127px;
  }

  .icon-wrap {
    display: inline-flex;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .icon-wrap {
    display: inline-flex;
    width: 98%;
  }

  .view h1 {
    font-size: 26px;
  }
  
  .block1 {
    margin-left: 30px;
  }

  .block2 {
    margin-left: 30px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 100%;
  }

  .line {
    height: 8px;
    margin-left: 15px;
  }

  .wrap h1 {
    font-size: 23px;
  }

  .wrap .circle1 {
    transform: translate(536px);
  }

  .wrap .circle2 {
    transform: translate(-28px);
  }

  .wrap .crests1 {
    transform: translate(-480px);
  }  

  .icon-wrap {
    display: grid;
  }  

  .block1 {
    margin-left: 0;
    display: unset;
  }

  .block2 {
    margin-left: 0;
    display: unset;
  }
}

@media screen and (max-width: 520px) {
  .block {
    width: 252px;
  }

  .wrap h1 {
    font-size: 19px;
  }

  .wrap .circle1 {
    transform: translate(342px);
  }

  .wrap .crests1 {
    transform: translate(-350px);
  }

  .about {
    width: 100%;
  }  
}

@media screen and (max-width: 560px) { 
  .circle {
    margin-left: 0%;
    padding-top: 20px;
  }
}